* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

body{
    background-image: url('../images/bolha-background.png');
    background-repeat: no-repeat;
    background-position: left center;
}
