@media(max-width: 1900px){
    body{
        background-size: 900px;
    }
}

@media(max-width: 1750px){
    body{
        background-size: 850px;
    }
}


@media(max-width: 1650px){
    body{
        background-size: 800px;
    }
}

@media(max-width: 1550px){
    body{
        background-size: 750px;
    }
}

@media(max-width: 1450px){
    body{
        background-size: 700px;
    }
}

@media(max-width: 1350px){
    body{
        background-size: 650px;
    }
}

@media(max-width: 1250px){
    body{
        background-size: 600px;
    }
}

@media(max-width: 1150px){
    body{
        background-position-x: -80px !important;
    }
}